@import "./src/assets/sass/helpers/vars";



a.btn-sidenav {
  padding: 15px;
  display: inline-block !important;
}

mz-sidenav-header {
  text-align: center;

  img {
    width: 200px;
    padding: 15px;
  }
}

.profile {
  a {
    display: flex;
  }

  img {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
  }

  .settings {
    font-size: .7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .7em;
    color: gray;
    height: 25px;

    i {
      height: 25px;
      line-height: 25px;
      margin-right: 10px;
      font-size: 2em;
    }
  }

  .name {
    color: $primary-color-dark;
    text-align: left;
    line-height: 1.5em;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }
}

.logo-company {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  p {
    font-size: .9em;
    color: white;
  }
}

.app-version {
  color: #aaa;
  font-style: italic;
  font-size: 0.85em;
  line-height: 1em;
  text-align: right;
  padding-right: 10px;
}
