<a class="material-icons btn-sidenav" id="btn-sidenav">menu</a>
<mz-sidenav [id]="'sidenav'" [closeOnClick]="true" [collapseButtonId]="'btn-sidenav'" [fixed]="true">
  <mz-sidenav-header>
    <img src="./assets/logo-full.png">
    <div class="profile">
      <a href="#" [routerLink]="['/preferencias-usuario']">
        <img src="{{auth.loggedUser.photoURL}}" alt="" class="circle responsive-img profile-img">
        <div style="display: flex;flex-direction: column;justify-content: space-around;">
          <span class="name">Bem vindo(a) {{auth.loggedUser.displayName}}</span>
          <span class="settings"><i class="material-icons">settings</i> Configurar preferências</span>
        </div>
      </a>
    </div>
  </mz-sidenav-header>

  <mz-sidenav-divider></mz-sidenav-divider>

  <mz-sidenav-link>
    <a href="#" [routerLink]="['/inicio']">
      <i class="material-icons">dashboard</i> Dashboard</a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a href="#" [routerLink]="['/transacoes']">
      <i class="material-icons">assignment</i> Transações</a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a href="#" [routerLink]="['/relatorios']">
      <i class="material-icons">pie_chart</i> Relatórios</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>

  <mz-sidenav-link>
    <a href="#" [routerLink]="['/ajuda']">
      <i class="material-icons">help</i> Ajuda</a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a href="#" [routerLink]="['/politica-privacidade']">
      <i class="material-icons">lock</i> Política de privacidade</a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a href="https://nofinaldascontas.com.br/blog/" target="blank">
      <i class="material-icons">rss_feed</i> Nosso blog</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>

  <mz-sidenav-link>
    <a (click)="auth.signOut()">
      <i class="material-icons">exit_to_app</i> Sair
    </a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <p class="app-version">{{version}}</p>

  <!-- <mz-sidenav-link class="logo-company">
    <div >
      <p>Um produto trazido pela equipe</p>
    </div>
  </mz-sidenav-link> -->
</mz-sidenav>
