<nav>
  <div class="nav-wrapper">
    <app-sidebar></app-sidebar>
    <a class="brand-logo"><img src="./assets/logo-letter-white.png"></a>

    <a [routerLink]="['/transacoes']" class="shortcut" *ngIf="!navService.isInList" style="margin-right: 15px;">
      <i class="material-icons">assignment</i>
    </a>

    <span *ngIf="navService.isInList" style="display: flex;margin-right: 15px;">
      <a [routerLink]="['/relatorios']" class="shortcut">
        <i class="material-icons">pie_chart</i>
      </a>
      <span>
        <app-filterbar></app-filterbar>
      </span>
    </span>

  </div>
</nav>
