<ngx-smart-modal #myModal identifier="myModal" target="a#month-selector">
  <monthpicker (change)="onMonthChange($event)"></monthpicker>
</ngx-smart-modal>


<div class="seletor-area">
  <a (click)="transacaoService.previousMonth()">
    <i class="material-icons">navigate_before</i>
  </a>

  <a class="seletor" id="month-selector" (click)="ngxSmartModalService.getModal('myModal').open()">
    <span>
      {{ meses[transacaoService.mesCorrente] }}
    </span>
    de
    <span>
      {{ transacaoService.anoCorrente }}
    </span>
  </a>

  <a (click)="transacaoService.nextMonth()">
    <i class="material-icons">navigate_next</i>
  </a>
</div>


<mz-tab [fixedTabWidth]="'true'">

  <mz-tab-item [label]="'Despesas'" class="" id="geral" [active]="tipoGrafico == 'despesas-categoria'">
    <div class="mtop10">
      <div class="rel-item" style="margin-bottom: 0;" *ngFor="let item of somasCategorias">
        <div style="display: flex;">
          <span class="categoria categoria-badge" [style.backgroundColor]="getCategoriaColor(item.categoria)"
            [style.marginRight]="'10px'">
            <i class="material-icons" style="font-size: 1.2em;">{{ getCategoriaIcon(item.categoria) }}</i>
          </span>
          <span>{{ getCategoriaName(item.categoria) }}</span>
        </div>
        <div style="text-align:right;font-weight: 700">{{ item.soma | currency:'BRL':'symbol' }}</div>
      </div>

      <div class="rel-item no-border">
        <div class=""><b>Total</b></div>
        <div class="" style="text-align:right;"><b>{{ totalCategorias | currency:'BRL':'symbol' }}</b></div>
      </div>
    </div>

    <div style="width: 100%; height: 400px;">
      <ngx-charts-pie-chart [results]="dadosGraficoPizza" [legend]="false" [trimLabels]="false" [labels]="true"
        (select)="onSelect($event)" [scheme]="colorScheme">
        <ng-template #tooltipTemplate let-model="model">
          <p class="title-4">{{model.name}}</p>
          <p class="title-3">
            <b>{{ getCategoriaPercent(model.value) | percent}}</b>
          </p>

        </ng-template>
      </ngx-charts-pie-chart>

    </div>

  </mz-tab-item>

  <mz-tab-item [label]="'Por Categoria'" href="#status-categoria" id="categoria">

    <div class="row">
      <div class="col s12 mtop10">
        <i class="material-icons col s1 color-green title-4">add_circle</i>
        <div class="col s4 color-green title-4">Entradas</div>
        <div class="col s7 color-green title-4" style="text-align:right;">{{ receitaTotal | currency:'BRL':'symbol' }}
        </div>
      </div>
    </div>

    <div class="row">
      <ng-container *ngIf="receitaTotal > 0">
        <div class="col s12">
          <app-categoria-details [nome]="getCategoriaName(CATEGORIAS.NecessidadesEssenciais)" [maxValue]="55"
            [currentValue]="dadosGraficoCategorias[CATEGORIAS.NecessidadesEssenciais]"
            [currencyValue]="getSomaCategoria(CATEGORIAS.NecessidadesEssenciais)"
            [itens]="getItensCategoria(CATEGORIAS.NecessidadesEssenciais)"
            [availableValue]="getSaldoCategoria(CATEGORIAS.NecessidadesEssenciais)"></app-categoria-details>
        </div>

        <div class="col s12">
          <app-categoria-details [nome]="getCategoriaName(CATEGORIAS.TranquilidadeFinanceira)" [maxValue]="10"
            [currentValue]="dadosGraficoCategorias[CATEGORIAS.TranquilidadeFinanceira]"
            [currencyValue]="getSomaCategoria(CATEGORIAS.TranquilidadeFinanceira)"
            [itens]="getItensCategoria(CATEGORIAS.TranquilidadeFinanceira)"
            [availableValue]="getSaldoCategoria(CATEGORIAS.TranquilidadeFinanceira)"></app-categoria-details>
        </div>

        <div class="col s12">
          <app-categoria-details [nome]="getCategoriaName(CATEGORIAS.FazerPeloOutro)" [maxValue]="5"
            [currentValue]="dadosGraficoCategorias[CATEGORIAS.FazerPeloOutro]"
            [currencyValue]="getSomaCategoria(CATEGORIAS.FazerPeloOutro)"
            [itens]="getItensCategoria(CATEGORIAS.FazerPeloOutro)"
            [availableValue]="getSaldoCategoria(CATEGORIAS.FazerPeloOutro)"></app-categoria-details>

        </div>

        <div class="col s12">
          <app-categoria-details [nome]="getCategoriaName(CATEGORIAS.Diversao)" [maxValue]="10"
            [currentValue]="dadosGraficoCategorias[CATEGORIAS.Diversao]"
            [currencyValue]="getSomaCategoria(CATEGORIAS.Diversao)" [itens]="getItensCategoria(CATEGORIAS.Diversao)"
            [availableValue]="getSaldoCategoria(CATEGORIAS.Diversao)"></app-categoria-details>
        </div>

        <div class="col s12">
          <app-categoria-details [nome]="getCategoriaName(CATEGORIAS.ComprasDeLongoPrazo)" [maxValue]="10"
            [currentValue]="dadosGraficoCategorias[CATEGORIAS.ComprasDeLongoPrazo]"
            [currencyValue]="getSomaCategoria(CATEGORIAS.ComprasDeLongoPrazo)"
            [itens]="getItensCategoria(CATEGORIAS.ComprasDeLongoPrazo)"
            [availableValue]="getSaldoCategoria(CATEGORIAS.ComprasDeLongoPrazo)"></app-categoria-details>

        </div>

        <div class="col s12">
          <app-categoria-details [nome]="getCategoriaName(CATEGORIAS.DesenvolvimentoPessoal)" [maxValue]="10"
            [currentValue]="dadosGraficoCategorias[CATEGORIAS.DesenvolvimentoPessoal]"
            [currencyValue]="getSomaCategoria(CATEGORIAS.DesenvolvimentoPessoal)"
            [itens]="getItensCategoria(CATEGORIAS.DesenvolvimentoPessoal)"
            [availableValue]="getSaldoCategoria(CATEGORIAS.DesenvolvimentoPessoal)"></app-categoria-details>
        </div>

      </ng-container>
      <ng-container *ngIf="receitaTotal <= 0">
        <div class="card-panel">
          Registre as receitas do mês para ver os gastos por categoria
        </div>
      </ng-container>
    </div>

  </mz-tab-item>
</mz-tab>
