
.seletor-area {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  .seletor {
    font-weight: 700;
    font-size: 1.2em;
    width: 75%;
    text-align: center;
    line-height: 2.5em;
  }
  a {
    font-size: 2em;
    &:hover {
      cursor: pointer;
    }
  }
  justify-content: space-around;
}

.rel-item {
  border-bottom: 1px solid #ddd;
  line-height: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
