.month-picker {


  .header {
    text-align: center;
    padding: 10px;
    a {
      font-weight: 700;
      text-transform: uppercase;
      color: #555;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .body {
    padding: 10px;
  }

  .month-picker-cell {
    margin-bottom: 5px;
    button {
      background: transparent;
      border: none;
      width: 100%;
      padding: 10px;
      font-weight: 700;
      text-transform: uppercase;
      color: #555;
      transition: background-color .5s;
      &:hover {
        background-color: #ddd;
        cursor: pointer;
      }
    }
  }
}
