<div class="month-picker">

  <div class="header">
    <div class="d-flex align-items-center">

      <a class="mr-auto" (click)="decrement()" style="vertical-align: sub;">
        <i class="material-icons">navigate_before</i>
      </a>

      <a (click)="toggleShowYears()" style="font-size: 1.5em;">
        {{model.selectedYearText}}
      </a>

      <a class="ml-auto" (click)="increment()" style="vertical-align: sub;">
        <i class="material-icons">navigate_next</i>
      </a>

    </div>
  </div>

  <div class="body">
    <div class="month-picker-body">

      <div class="row" *ngIf="!isShowYears">
        <div class="col s6 m4" *ngFor="let month of model.months; let i = index">
          <div class="month-picker-cell">
            <button class="" [ngClass]="{'btn-primary': isSelectedMonth(i)}" [disabled]="isDisabled(i)"
              (click)="selectMonth(i)">
              {{month}}
            </button>
          </div>
        </div>
      </div>


      <div class="row" *ngIf="isShowYears">
        <div class="col s6 m4" *ngFor="let year of years; let i = index">
          <div class="month-picker-cell">
            <button class="" [ngClass]="{'btn-primary': isSelectedYear(year)}" [disabled]="isDisabledYear(year)"
              (click)="selectYear(year)">
              {{year}}
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
