<p class="title-4">{{ nome }}</p>
<div class="bar mbottom10">
  <span class="number right">{{ maxValue }}%</span>
  <span class="number left">0%</span>
  <span class="marquee" [ngStyle]="{ 'left': leftValue }"></span>
</div>

<mz-collapsible [mode]="'expandable'" [popout]="false">
  <mz-collapsible-item>
    <mz-collapsible-item-header style="width: 100%;">
      <div>
        <div style="display: flex;justify-content: space-between; width: 100%;align-items: center;">
          <div>
            <span class="total-info">Total gasto: {{ currencyValue | currency:'BRL':'symbol' }}</span>
            <span class="total-info">Total disponível: {{ availableValue | currency:'BRL':'symbol' }}</span>
          </div>
          <span class="badge-percentage {{getBadgeClass()}}" mz-tooltip
            tooltip="Você gastou {{currentValue}}% de sua receita em {{ nome }}">{{currentValue}}%</span>
        </div>
        <div style="text-align: center;font-size: .8em;text-transform: uppercase;color: gray;font-weight: 800;">Clique para ver detalhes</div>
      </div>

    </mz-collapsible-item-header>
    <mz-collapsible-item-body class="collapsible-header" style="display: block;">

      <span class="badge-percentage message text {{getBadgeClass()}}">{{ getCategoryMessage() }}</span>

      <mz-collection *ngIf="itens.length > 0; else noitems">
        <mz-collection-item class="transacao" *ngFor='let transacao of itens' style="padding: 10px 0;">
          <div [ngClass]="{'despesa': transacao.valor < 0, 'receita': transacao.valor > 0}">
            <span class="data">{{ transacao.data | date:'dd/MM/yyyy' }}</span>
            <div style="display: flex; justify-content: space-between">
              <span class="descricao" style="padding: 0;">{{ transacao.descricao }}</span>
              <span class="valor">{{ getValorAbs(transacao) | currency:'BRL':'symbol' }}</span>
            </div>
          </div>
        </mz-collection-item>
      </mz-collection>

      <ng-template #noitems>
        Não há transações cadastradas para essa categoria no mês selecionado.
      </ng-template>

    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>
