.bar {
  width: 100%;
  height: 15px;
  display: block;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a930a+0,ffe500+50,e00b0b+100 */
  background: #2a930a;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2a930a 0%, #ffe500 50%, #e00b0b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2a930a 0%, #ffe500 50%, #e00b0b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2a930a 0%, #ffe500 50%, #e00b0b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a930a', endColorstr='#e00b0b', GradientType=1);
  /* IE6-9 */
  margin-top: 15px;
  position: relative;
  .number {
    position: absolute;
    top: -20px;
    font-weight: 600;
    &.right {
      right: 0;
    }
    &.left {
      left: 0;
    }
  }
  .marquee {
    position: absolute;
    left: 0;
    top: -20px;
    transition: 'left' 0.5s;
    border: 20px solid;
    border-color: transparent transparent black transparent;
  }
}

.total-info {
  display: block;
  font-size: 0.85em;
}

.message {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9em;
  line-height: 1em;
  margin-top: 10px;
}
