/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 45px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  width: 230px;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  /* border-right: #364e92 1px solid; */
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 8px 12px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
}


/* Google */
.loginBtn--google {
  background: #6e6e6e;
}
.loginBtn--google:before {
  /* border-right: #3f3f3f 1px solid; */
  background: url('../../../../assets/img/google-icon.png') 8px 12px no-repeat;
  background-size: 22px;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #ababab;
}
