<button class="loginBtn loginBtn--facebook" *ngIf="method == 'facebook'">
    Entrar com Facebook
  </button>

  <button class="loginBtn loginBtn--google" *ngIf="method == 'google'">
    Entrar com Google
  </button>
