@import "./src/assets/sass/helpers/vars";



.buttons-transacao {
  display: flex;
  a {
    background-color: transparent;
    flex-grow: 1;
    box-shadow: inherit;
    line-height: 48px;
    height: 48px;
    border-radius: 0;
    &:hover {
      background-color: transparent;
      box-shadow: inherit;
    }
    &.despesa-btn {
      color: $red !important;
      &.active {
        color: white !important;
        border-bottom: none;
        background-color: $red !important;
        &:after {
          content: none;
        }
      }
    }
    &.receita-btn {
      color: $green !important;
      &.active {
        color: white !important;
        border-bottom: none;
        background-color: $green !important;
        &:after {
          content: none;
        }
      }
    }
  }
}

.input-field {

  input[currencyMask] {
    font-size: 2em;
  }
  input {
    margin-bottom: 0;
  }
  .mdl-button {
    position: relative;
  }
}

.mdl-cell {
  padding-bottom: 5px;
}

#button-area {
  text-align: center;
  margin-top: 20px;
  .btn-cancel {
    background-color: #c9c9c9;
  }
}
