<div class="buttons-transacao">
  <a mz-button (click)="tipoTransacao = 'despesa'" class="despesa-btn"
    [ngClass]="{'active': tipoTransacao == 'despesa'}">
    Despesa
  </a>

  <a mz-button (click)="tipoTransacao = 'receita'" class="receita-btn"
    [ngClass]="{'active': tipoTransacao == 'receita'}">
    Receita
  </a>
</div>


<form action="#" #f="ngForm" *ngIf="tipoTransacao == 'despesa'" id="despesas-panel">

  <div class="row">
    <div class="col s12">
      <mz-input-container>
        <input mz-input [label]="'Valor'" id="descricao-input" type="text" required currencyMask placeholder="R$ 0,00"
          [(ngModel)]="valor" name="valor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
      </mz-input-container>
    </div>

    <div class="col s6">
      <mz-datepicker-container>
        <input mz-datepicker [label]="'Data'" [options]="dateOptions" [(ngModel)]="data" id="datepicker" placeholder=" "
          type="text" name="data">
      </mz-datepicker-container>
    </div>

    <div class="col s6">
      <mz-select-container>
        <select mz-select id="formaPagamentoSelect" [label]="'Forma de Pagamento'" [(ngModel)]="formaPagamento"
          name="formaPagamento">
          <option *ngFor="let option of formasPagamentoOptions" [value]="option.value">{{option.name}}</option>
        </select>
      </mz-select-container>
    </div>

    <div class="col s12" *ngIf="formaPagamento === 'fixo'">
      <mz-select-container>
        <select mz-select id="periodoSelect" [label]="'Período'" [(ngModel)]="periodo" name="periodo">
          <option *ngFor="let option of periodosOptions" [value]="option.value">{{option.name}}</option>
        </select>
      </mz-select-container>
    </div>

    <div class="col s12" *ngIf="formaPagamento === 'parcelado'">
      <p class="range-field">
        <input type="range" name="numParcelas" id="test5" min="2" max="24" [(ngModel)]="numParcelas" />
      </p>
      <p>Total: {{numParcelas}} x {{ valor | currency:'BRL':'symbol' }} =
        <strong>{{ numParcelas * valor | currency:'BRL':'symbol' }}</strong>
      </p>
    </div>

    <div class="col s12 mbottom20">
      <ng-select [items]="categoriasOptions" [(ngModel)]="categoria" name="categoria" bindLabel="name" bindValue="value"
        required placeholder="Categoria" [searchable]="false">
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
          <div style="display: flex; padding: 2px 0;">
            <span class="categoria-badge" [style.backgroundColor]="getCategoriaColor(item.value)"
            style="margin-right: 10px;">
              <i class="material-icons">{{ getCategoriaIcon(item.value) }}</i>
            </span>
            <span [ngOptionHighlight]="search">{{item.name}}</span>
          </div>
        </ng-template>
      </ng-select>
    </div>

    <div class="col s12">
      <mz-input-container>
        <input mz-input [label]="'Descrição'" id="descricao-input" type="text" placeholder=" " required name="descricao"
          [(ngModel)]="descricao" length="150">
      </mz-input-container>
    </div>

    <div class="col s12">
      <mz-textarea-container>
        <textarea mz-textarea label="Observações" id="obs-input" type="text" placeholder=" " name="obs"
          [(ngModel)]="obs" length="250"></textarea>
      </mz-textarea-container>
    </div>

    <div class="col s12">
      <mz-checkbox-container>
        <input mz-checkbox label="Efetivado" id="efetivado-input" type="checkbox" name="efetivado"
          [(ngModel)]="efetivado" [filledIn]="true">
      </mz-checkbox-container>
    </div>

    <div id="button-area" class="col s12">

      <a class="btn-floating waves-effect waves-light btn-cancel  mright10" [routerLink]="['/transacoes']">
        <i class="large material-icons">arrow_back</i>
      </a>
      <button type="submit" class="btn-floating btn-large waves-effect waves-light btn-submit"
        (click)="saveTransacao(true)" [disabled]="!f.valid">
        <i class="large material-icons">done</i>
      </button>
    </div>

  </div>
</form>

<form action="#" #f="ngForm" *ngIf="tipoTransacao == 'receita'" id="receitas-panel">

  <div class="row">
    <div class="col s12">
      <mz-input-container>
        <input mz-input [label]="'Valor'" id="descricao-input" type="text" required autocomplete="off" currencyMask
          placeholder="R$ 0,00" [(ngModel)]="valor" name="valor"
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
      </mz-input-container>
    </div>

    <div class="col s6">
      <mz-datepicker-container>
        <input mz-datepicker [label]="'Data'" [options]="dateOptions" [(ngModel)]="data" id="datepicker" placeholder=" "
          type="text" name="data">
      </mz-datepicker-container>
    </div>

    <div class="col s6">
      <mz-select-container>
        <select mz-select id="formaPagamentoSelect" [label]="'Forma de Recebimento'" [(ngModel)]="formaPagamento"
          name="formaPagamento">
          <option *ngFor="let option of formasPagamentoOptions" [value]="option.value">{{option.name}}</option>
        </select>
      </mz-select-container>
    </div>

    <div class="col s12" *ngIf="formaPagamento === 'parcelado'">
      <p class="range-field">
        <input type="range" name="numParcelas" id="test5" min="2" max="24" [(ngModel)]="numParcelas" />
      </p>
      <p>Total: {{numParcelas}} x {{ valor | currency:'BRL':'symbol' }} =
        <strong>{{ numParcelas * valor | currency:'BRL':'symbol' }}</strong>
      </p>
    </div>

    <div class="col s12">
      <mz-input-container>
        <input mz-input [label]="'Descrição'" id="descricao-input" type="text" placeholder=" " required name="descricao"
          [(ngModel)]="descricao" length="150">
      </mz-input-container>
    </div>

    <div class="col s12">
      <mz-textarea-container>
        <textarea mz-textarea label="Observações" id="obs-input" type="text" placeholder=" " name="obs"
          [(ngModel)]="obs" length="250"></textarea>
      </mz-textarea-container>
    </div>

    <div class="col s12">
      <mz-checkbox-container>
        <input mz-checkbox label="Efetivado" id="efetivado-input" type="checkbox" name="efetivado"
          [(ngModel)]="efetivado" [filledIn]="true">
      </mz-checkbox-container>
    </div>

    <div id="button-area" class="col s12">

      <a class="btn-floating waves-effect waves-light btn-cancel mright10" [routerLink]="['/transacoes']">
        <i class="large material-icons">arrow_back</i>
      </a>

      <button type="submit" class="btn-floating btn-large waves-effect waves-light btn-submit"
        (click)="saveTransacao(false)" [disabled]="!f.valid">
        <i class="large material-icons">done</i>
      </button>
    </div>

  </div>
</form>
