@import "./src/assets/sass/helpers/vars";

.logo-nfc {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.valign-wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),url('../../assets/img/backgrounds/back-home-2.jpg') center;
  background-size: cover;
}

.login-area {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;

  .credentials-area {
    background-color: #fff;
    padding: 10px;
    flex: 1;
    min-width: 500px;
    max-width: 600px;
    margin: 0 auto;
  }
  .info-area {
    background-color: #243e56;
    flex: 1;
    min-width: 500px;
    max-width: 600px;
    padding: 30px;
    margin: 0 auto;
  }
}

.icons-area {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;

  .item {
    width: 25%;
    text-align: center;
    span {
      display: block;
    }
    i {
      font-size: 4em;
      opacity: .5;
    }
  }
}

@media (max-width: 1000px) {
  .valign-wrapper {
    position: relative;
    padding: 15px;
  }

  .credentials-area, .info-area {
    min-width: 350px !important;
  }
}
