<div class="valign-wrapper">
  <div style="margin: 0 auto;">

    <div class="login-area" style="max-width: 1000px;">
      <div class="credentials-area">
        <div class="center-align mtop30">
          <img class="responsive-img" src="./assets/logo-full.png">
        </div>

        <p class="center-align mtop30">Use uma das opções abaixo para acessar o sistema:</p>

        <div class="center-align">
            <app-login-button method="google" (click)="auth.googleLogin()"></app-login-button>
          </div>
          <div class="center-align">
            <app-login-button method="facebook" (click)="auth.facebookLogin()"></app-login-button>
          </div>

        <!-- <firebase-ui (signInSuccessWithAuthResult)="successCallback($event)" (signInFailure)="errorCallback($event)">
        </firebase-ui> -->

        <p class="center-align mtop30" style="font-size: .8em">
          Ao entrar, você está ciente da nossa <a [routerLink]="['/politica-privacidade']" target="blank">Política de Privacidade</a>
        </p>

        <p class="center-align mtop10" style="font-size: .8em">
          <i class="material-icons" style="vertical-align: middle;">lock</i> Suas informações estarão seguras
        </p>

      </div>

      <div class="info-area">
        <div class="center-align" style="color: white; font-size: 1.5em;">
          <p><b>Planejar é fundamental</b>, mas não é tudo! Você deve controlar seus gastos e domar suas crenças, que o
            fazem repetir os mesmos comportamentos. <b>Então prepare-se para planejar.</b></p>
          <p>Acesse o aplicativo e comece a controlar suas finanças de forma fácil e intuitiva!</p>
        </div>

        <div class="icons-area">
          <span class="item">
            <i class="material-icons">
              important_devices
            </i>
            <span>Acesse do seu celular, tablet ou desktop</span>
          </span>

          <span class="item">
          <i class="material-icons">
            add_to_home_screen
          </i>
          <span>Adicione um atalho no seu smartphone</span>
        </span>

        <span class="item">
          <i class="material-icons">
            airplanemode_inactive
          </i>
          <span>Funciona offline - veja suas finanças onde estiver</span>
        </span>
        </div>

      </div>
    </div>

    <div class="center-align mtop50" style="width: 100%; color: white;">
      <p>Um aplicativo trazido para você pela equipe</p>
      <a href="https://www.nofinaldascontas.com.br/"><img class="responsive-img" src="./assets/logo_nfc_g.png"
          class="logo-nfc"></a>
    </div>

    <div class="center-align mtop50" style="width: 100%;">
      <app-funcionalidades></app-funcionalidades>
    </div>
  </div>
</div>
