<div *ngIf="auth.user | async as user; then authenticated else login"></div>

<ng-template #authenticated>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header app-header></header>
    <!-- <aside app-sidebar  class="mdl-layout__drawer"></aside> -->

    <main class="mdl-layout__content">
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </main>

  </div>
</ng-template>

<ng-template #login>
  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</ng-template>

<app-loading></app-loading>
