<button
  class="btn-floating btn-large waves-effect waves-light bg-secondary add-button"
  [routerLink]="['/transacoes/nova']" id="add-button">
  <i class="material-icons">add</i>
</button>

<!-- <mz-feature-discovery [targetId]="'add-button'" #featureDiscovery>
  <h5>I am here</h5>
  <p>Provide value and encourage return visits by introducing users to new features and functionality at contextually relevant moments.</p>
</mz-feature-discovery> -->
