@import "./../../assets/sass/helpers/vars";

mz-card {
  mz-card-title {
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #636363;
  }
}

.card-resumo {

  .entradas,
  .saidas {
    color: white;
    display: flex;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
    max-width: 250px;
    min-width: 200px;
    display: inline-flex;

    i {
      margin-right: 15px;
      font-size: 1.5em;
    }
  }

  .entradas {
    background-color: $green;
    margin-right: 10px;
  }

  .saidas {
    background-color: $red;
  }
}

.categoria-badge {
  border-radius: 30px;
  font-size: 1.5em;

  i {
    margin-right: 10px;
  }
}

.item-transacao {
  padding: 10px 0 !important;
}

.collection {
  margin-bottom: 0 !important;
}

.card-atalhos {
  display: flex;
  flex-wrap: wrap;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
    width: 85px;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    margin-right: 10px;
    transition: .5s;
    text-transform: uppercase;
    justify-content: space-evenly;
    margin-bottom: 10px;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    i {
      font-size: 3em;

      &.sub, &.sup {
        position: absolute;
        font-size: 2em;
        right: 11px;
      }
      &.sub {
        bottom: 25px;
      }
      &.sup {
        top: 4px;
      }
    }

    span {
      font-size: .8em;
      margin-top: 5px;
    }
  }

  .adicionar-receita {
    color: $green;
    border-color: $green;

    i.sup {
      color: lighten($color: $green, $amount: 20);
    }

    &:hover {
      background-color: $green;
      color: white;
    }
  }

  .adicionar-despesa {
    color: $red;
    border-color: $red;

    i.sub {
      color: lighten($color: $red, $amount: 10);
    }

    &:hover {
      background-color: $red;
      color: white;
    }
  }

  .ver-transacoes {
    color: $blue;
    border-color: $blue;

    &:hover {
      background-color: $blue;
      color: white;
    }
  }

  .ver-status-categoria {
    color: $orange;
    border-color: $orange;

    &:hover {
      background-color: $orange;
      color: white;
    }
  }

  .ver-grafico-categoria {
    color: $maroon;
    border-color: $maroon;

    &:hover {
      background-color: $maroon;
      color: white;
    }
  }
}
