<div style="margin: 10px;font-size: 18px;text-align: right;text-transform: uppercase;">{{ getTodayDateString() }}</div>

<div class="row">
  <div class="col s12 m6">

    <mz-card>
      <mz-card-title>
        Meus atalhos
      </mz-card-title>
      <mz-card-content>
        <div class="card-atalhos">
          <a class="adicionar-despesa" [routerLink]="['/transacoes/nova']" [queryParams]="{ mod: 'despesa' }">
            <i class="material-icons">attach_money</i>
            <i class="material-icons sub">arrow_upward</i>
            <span>Despesa</span>
          </a>

          <a class="adicionar-receita" [routerLink]="['/transacoes/nova']" [queryParams]="{ mod: 'receita' }">
            <i class="material-icons">attach_money</i>
            <i class="material-icons sup">arrow_downward</i>
            <span>Receita</span>
          </a>

          <a class="ver-transacoes" [routerLink]="['/transacoes']">
            <i class="material-icons">assignment</i>
            <span>Transações</span>
          </a>

          <a class="ver-status-categoria" [routerLink]="['/relatorios#status-categoria']">
            <i class="material-icons">traffic</i>
            <span>Status por categoria</span>
          </a>

          <a class="ver-grafico-categoria" [routerLink]="['/relatorios']"
            [queryParams]="{ tipo: 'despesas-categoria' }">
            <i class="material-icons">pie_chart</i>
            <span>Despesas por categoria</span>
          </a>

        </div>
      </mz-card-content>
      <mz-card-action>
        <a [routerLink]="['/configuracoes']" style="font-weight: 700">Configurar meus atalhos >></a>
      </mz-card-action>
    </mz-card>

    <mz-card>
      <mz-card-title>
        Resumo desse mês
      </mz-card-title>
      <mz-card-content>
        <div class="card-resumo">
          <div class="entradas">
            <i class="material-icons">add_circle</i>
            <span style="width: 100%; text-align: right;">{{ somaEntradas | currency:'BRL':'symbol' }}</span>
          </div>

          <div class="saidas">
            <i class="material-icons">remove_circle</i>
            <span style="width: 100%; text-align: right;">{{ somaSaidas | currency:'BRL':'symbol' }}</span>
          </div>

        </div>
      </mz-card-content>
    </mz-card>

    <mz-card>
      <mz-card-title>
        Divisão de gastos por categoria
      </mz-card-title>
      <mz-card-content>
        <div style="width: 100%; height: 400px;" *ngIf="graficoPizzaHasValue(); else noitems">
          <ngx-charts-pie-chart [results]="dadosGraficoPizza" [legend]="false" [labels]="false" [scheme]="colorScheme"
            [doughnut]="true">
            <ng-template #tooltipTemplate let-model="model">
              <p class="title-4">{{model.name}}</p>
              <p class="title-3">
                <b>{{ getCategoriaPercent(model.value) | percent}}</b>
              </p>

            </ng-template>
          </ngx-charts-pie-chart>
        </div>
        <ng-template #noitems>
          Ainda não há gastos para esse mês.
        </ng-template>
      </mz-card-content>
      <mz-card-action>
        <a [routerLink]="['/relatorios']" style="font-weight: 700">Ver detalhes >></a>
      </mz-card-action>
    </mz-card>


  </div>

  <div class="col s12 m6">
    <mz-card class="card-resumo">
      <mz-card-title>
        Top 5 gastos de {{getCurrentMonth()}}
      </mz-card-title>
      <mz-card-content>

        <mz-collection *ngIf="maioresTransacoes.length > 0; else noitems">
          <mz-collection-item class="transacao" *ngFor="let transacao of maioresTransacoes" style="padding: 0;">
            <span class="data">{{ transacao.data | date:'dd/MM/yyyy' }}</span>

            <div class="item-transacao" [ngClass]="{'despesa': transacao.valor < 0, 'receita': transacao.valor > 0 }">
              <span class="categoria" mz-tooltip [style.backgroundColor]="getCategoriaColor(transacao.categoria)"
                [tooltip]="getCategoriaName(transacao.categoria)">
                <i class="material-icons">{{ getCategoriaIcon(transacao.categoria) }}</i>
              </span>
              <span class="descricao">{{ transacao.descricao }}</span>
              <span class="valor">{{ getValorAbs(transacao.valor) | currency:'BRL':'symbol' }}</span>

            </div>
          </mz-collection-item>
        </mz-collection>

        <ng-template #noitems>
          Ainda não há gastos para esse mês.
        </ng-template>

      </mz-card-content>
      <mz-card-action>
        <a [routerLink]="['/transacoes']" style="font-weight: 700">Ver todas as transações >></a>
      </mz-card-action>
    </mz-card>

    <mz-card class="card-resumo">
      <mz-card-title>
        Transações com pendência em {{getCurrentMonth()}}
      </mz-card-title>
      <mz-card-content>

        <mz-collection *ngIf="transacoesPendentes.length > 0; else noitems">
          <mz-collection-item class="transacao" *ngFor="let transacao of transacoesPendentes" style="padding: 0;">
            <span class="data">{{ transacao.data | date:'dd/MM/yyyy' }}</span>

            <div class="item-transacao" [ngClass]="{'despesa': transacao.valor < 0, 'receita': transacao.valor > 0 }">
              <span class="categoria" mz-tooltip [style.backgroundColor]="getCategoriaColor(transacao.categoria)"
                [tooltip]="getCategoriaName(transacao.categoria)">
                <i class="material-icons">{{ getCategoriaIcon(transacao.categoria) }}</i>
              </span>
              <span class="descricao">{{ transacao.descricao }}</span>
              <span class="valor">{{ getValorAbs(transacao.valor) | currency:'BRL':'symbol' }}</span>

            </div>
          </mz-collection-item>
        </mz-collection>

        <ng-template #noitems>
          <span class="no-itens success">
            Uau! Não há nenhuma transação pendente
          </span>
        </ng-template>

      </mz-card-content>
      <mz-card-action>
        <a [routerLink]="['/transacoes']" style="font-weight: 700">Resolver pendências >></a>
      </mz-card-action>
    </mz-card>
  </div>

</div>
