<a id="btn-sidenav-demo" class="shortcut">
  <i class="material-icons">search</i>
</a>

<mz-sidenav #sidenav [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'" [edge]="'right'">

  <nav>
    <div class="nav-wrapper">
      <span class="title" style="padding: 10px; font-weight: 700;">Filtros</span>
    </div>
  </nav>

  <form style="padding: 10px">

    <mz-input-container>
      <input mz-input label="Descricão" id="descricao-input" type="text" [(ngModel)]="descricao" name="descricao"
        placeholder=" " autocomplete="off">
    </mz-input-container>

  </form>

</mz-sidenav>
