/* You can add global styles to this file, and also import other style files */

@import "./assets/sass/helpers/vars";

@import "~ngx-smart-modal/ngx-smart-modal";

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/Open_Sans/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/Open_Sans/OpenSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/Open_Sans/OpenSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}


html,
body {
  font-family: 'Open Sans', sans-serif !important;
  width: 100%;
  height: 100%;
}

nav {
  z-index: 1;
  background-color: $primary-color !important;
}

h1,
h2,
h3,
h4,
h5,
.seletor,
.title {
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2em !important;
}

@media (min-width: 992px) {
  .mdl-layout {
    width: calc(100% - 300px);
    float: right;

    main {
      margin: 0 auto;
      max-width: 900px;
    }

    a#btn-sidenav {
      display: none !important;
    }

    .brand-logo {
      display: none;
    }

    .page-content {
      padding-top: 25px;
    }
  }

  // .shortcut {
  //   display: none;
  // }
}

.add-button {
  position: fixed !important;
  bottom: 15px !important;
  right: 15px !important;

  &.tap-target-origin {
    position: inherit !important;
  }
}

form {
  .input-field {
    margin-top: 25px;
  }

  .ng-input {
    input {
      margin-bottom: 0 !important;
    }
    bottom: 0 !important;
    margin-top: 10px !important;
  }

  input {
    background-image: none;
  }
}

strong {
  font-weight: 600;
}

// .select-wrapper + label {
//   color: rgb(0,150,136) !important;
//   font-size: 12px !important;
//   top: 4px !important;
// }
#despesas-panel {
  input[currencyMask] {
    color: $red;
  }

  input:focus,
  textarea:focus {
    border-bottom-color: $red;
    box-shadow: 0 1px 0 0 $red;
  }

  label, .ng-placeholder {
    color: $red !important;
  }

  .btn-submit {
    background-color: $red !important;
    color: white;

    &[disabled] {
      opacity: .5 !important;
    }
  }

  input[type=range]::-webkit-slider-thumb {
    background: $red;
  }

  span {
    color: $red !important;
  }

  .picker__date-display {
    background-color: $red !important;

    span {
      color: white !important;
    }
  }

  .picker__day.picker__day--today:not(.picker__day--selected) {
    color: $red !important;
  }

  .picker__day--selected {
    background-color: $red !important;
  }

  input[type=range]+.thumb {
    background-color: $red !important;

    span {
      color: white !important;
      margin-top: 5px;
      font-size: 15px;
    }
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    top: -10px;
    left: -5px;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #c9c9c9;
  }

  [type="checkbox"]+label {
    padding-left: 45px;
  }

  [type="checkbox"].filled-in:not(:checked)+label:after {
    height: 30px;
    width: 30px;
  }

  input[type=checkbox].filled-in:checked+label:after {
    height: 30px;
    width: 30px;
    border: 2px solid $red !important;
    background-color: $red !important;
  }

  input[type=checkbox].filled-in:checked+label:before {
    top: 1px;
    left: 4px;
    width: 10px;
    height: 20px;
  }
}

#receitas-panel {
  input[currencyMask] {
    color: $green;
  }

  input:focus,
  textarea:focus {
    border-bottom-color: $green;
    box-shadow: 0 1px 0 0 $green;
  }

  label {
    color: $green !important;
  }

  .mdl-button--colored {
    background-color: $green !important;
    color: white;
  }

  .btn-submit {
    background: $green;

    &[disabled] {
      opacity: .5 !important;
    }
  }

  span {
    color: $green !important;
  }

  .picker__date-display {
    background-color: $green !important;

    span {
      color: white !important;
    }
  }

  .picker__day.picker__day--today:not(.picker__day--selected) {
    color: $green !important;
  }

  .picker__day--selected {
    background-color: $green !important;
  }

  input[type=range]+.thumb {
    background-color: $green !important;

    span {
      color: white !important;
      margin-top: 5px;
      font-size: 15px;
    }
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    top: -10px;
    left: -5px;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #c9c9c9;
  }

  [type="checkbox"]+label {
    padding-left: 45px;
  }

  [type="checkbox"].filled-in:not(:checked)+label:after {
    height: 30px;
    width: 30px;
  }

  input[type=checkbox].filled-in:checked+label:after {
    height: 30px;
    width: 30px;
    border: 2px solid $green !important;
    background-color: $green !important;
  }

  input[type=checkbox].filled-in:checked+label:before {
    top: 1px;
    left: 4px;
    width: 10px;
    height: 20px;
  }
}

p,
span,
div {
  &.title-2 {
    font-size: 2em;

    .select-wrapper input.select-dropdown {
      font-size: 1em;
    }
  }

  &.title-3 {
    font-size: 1.5em;
  }

  &.title-4 {
    font-size: 1.2em;
  }
}

.collection {
  overflow: inherit !important;
  border: none;
}

.card-resumo {
  .collection {
    margin-bottom: 0 !important;
  }
}

.collapsible {
  box-shadow: none;

  .collapsible-body {
    padding: 1rem !important;
  }

  .collection {
    margin-bottom: 0 !important;
  }
}

.color-green {
  color: $green !important;
}

.color-red {
  color: $red !important;
}

.bg-primary {
  background-color: $primary-color !important;
}

.bg-secondary {
  background-color: $secondary-color !important;
}

.no-margin-bottom,
.select-wrapper input,
.picker input {
  margin-bottom: 0 !important;
}

.input-field {
  margin-top: 0;
}

// MARGINGS
.mtop {
  &10 {
    margin-top: 10px;
  }

  &20 {
    margin-top: 20px;
  }

  &30 {
    margin-top: 30px;
  }

  &40 {
    margin-top: 40px;
  }

  &50 {
    margin-top: 50px;
  }
}

.mbottom {
  &10 {
    margin-bottom: 10px;
  }

  &20 {
    margin-bottom: 20px;
  }

  &30 {
    margin-bottom: 30px;
  }

  &40 {
    margin-bottom: 40px;
  }

  &50 {
    margin-bottom: 50px;
  }
}

.mright {
  &10 {
    margin-right: 10px;
  }

  &20 {
    margin-right: 20px;
  }

  &30 {
    margin-right: 30px;
  }

  &40 {
    margin-right: 40px;
  }

  &50 {
    margin-right: 50px;
  }
}


.no-border {
  border: none !important;
}

.content-padding {
  padding: 10px;
}

.message_ {
  &_error {
    word-break: normal;
    background-color: $red;
  }
}


.collapsible-header {
  position: relative;

  .badge-percentage {
    background-color: gray;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 50%;
    width: 55px;
    min-width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;

    &.text {
      text-align: center;
      width: 100%;
      border-radius: 0;
      display: flex;
      align-items: center;
      padding: 10px;
      justify-content: space-around;
    }

    &.status-green {
      background-color: $green-badge;
    }

    &.status-yellow {
      background-color: $yellow-badge;
      color: #222;
    }

    &.status-orange {
      background-color: $orange-badge;
    }

    &.status-red {
      background-color: $red-badge;
    }
  }
}

.transacao {
  position: relative;

  .data {
    display: block;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 700;
    color: #888;
  }

  .descricao {
    width: 75%;
    display: inline-block;
    padding-left: 20px;
  }

  .valor {
    font-weight: 600;
    font-size: 1.2em;
    display: inline-block;
    text-align: right;
  }

  .categoria {
    font-size: 1.2em;
    padding: 10px;
    background-color: $green;
    color: white;
    border-radius: 50%;
    display: inline-flex;
  }

  .despesa {
    .valor {
      color: $red;
    }
  }

  .receita {
    .valor {
      color: $green;
    }
  }

  .today {
    background-color: #fff2e8;
  }

  .item-transacao {
    padding: 10px;
    position: relative;
    transition: background-color .5s;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #ddd;
      cursor: pointer;
    }
  }

  .btn-more {
    position: absolute;
    padding: 10px;
    padding-top: 0;
    top: 0px;
    right: 0;
    font-size: 1.5em;
    color: gray;
    transition: color 0.5s;

    &:hover {
      cursor: pointer;
      color: black;
    }
  }
}

.categoria-badge {
  padding: 10px;
  background-color: $green;
  color: white !important;
  border-radius: 50%;
  display: inline-flex;
  i {
    color: white !important;
  }
}

.select-dropdown {
  li {
    img {
      height: 30px;
      width: 30px;
      margin: 10px 15px;
    }
  }
}

.no-itens {
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #ddd;
  padding: 50px 0;

  &.success {
    color: $green;
    text-align: center;
    display: inline-block;
  }
}

.opacity50 {
  opacity: 0.5;
}

.firebaseui-idp-text {
  display: none !important;
}

.firebaseui-idp-button {
  max-width: 170px;
}

.firebaseui-idp-text.firebaseui-idp-text-short {
  display: table-cell !important;
}

.firebaseui-input {
  margin: 0 !important;
}

.btn-popup {
  margin-left: 10px;

  &.confirm {}

  &.cancel {
    display: inline-block;
    background: transparent;
    box-shadow: none;
    color: #888;
  }
}

.modal-content {
  border-radius: 2px;
}

.shortcut {
  opacity: .5;
  padding: 17px 10px;
  transition: .5s;
  display: inline-flex;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  i {
    line-height: normal !important;
    height: inherit;
  }
}

.tabs {
  .tab a {
    color: $secondary-color;

    &.active {
      color: $secondary-color;
    }

    &:hover {
      color: $secondary-color-light;
    }
  }

  .indicator {
    background-color: $secondary-color;
  }
}

nav {
  .input-field {
    input {
      border-bottom: 1px solid $primary-color-light !important;
      transition: border-size .5s;
    }

    input:focus {
      box-shadow: 0 1px 0 0 $primary-color-light !important;
    }

    input:focus:not([readonly]) + label {
      color: $primary-color-light !important;
    }
  }
}
