$primary-color: #383938;
$primary-color-light: #5f5f5f;
$primary-color-dark: #00251a;

$secondary-color: #cc362a;
$secondary-color-light: #da635b;
$secondary-color-dark: #792904;



$red: #ff5e5e;
$green: #4bb35f;
$blue: #114c99;
$orange: #eb892c;
$maroon: #953737;

$green-badge: #2a930a;
$yellow-badge: #fee44b;
$orange-badge: #ff8800;
$red-badge: #e00b0b;

