<mz-tab [fixedTabWidth]="'true'">

  <mz-tab-item [label]="'Categorias'" class="" href="#categorias" [active]="'true'">
    <div class="mtop10 content-padding" id="categorias">

      <div class="help-categoria">
        <span class="categoria categoria-badge" [style.backgroundColor]="CategoriasIcons.necessidades_essenciais.color">
          <i class="material-icons">{{ CategoriasIcons.necessidades_essenciais.icon }}</i>
        </span>
        <span>
          <h2>Necessidades essenciais</h2>
          Nesta categoria entram os gastos ESSENCIAIS para nossa vida, aqueles que realmente são básicos e suficientes
          para sobrevivermos. Ex.: contas de água, luz, telefone, impostos, aluguel, alimentação.
        </span>
      </div>

      <div class="help-categoria">
        <span class="categoria categoria-badge"
          [style.backgroundColor]="CategoriasIcons.tranquilidade_financeira.color">
          <i class="material-icons">{{ CategoriasIcons.tranquilidade_financeira.icon }}</i>
        </span>
        <span>
          <h2>Tranquilidade financeira</h2>
          Nesta categoria o propósito é garantir a Tranquilidade Financeira no futuro. É como investir em si próprio.
          Dica da No Final das Contas: encare esta categoria como sendo uma OBRIGAÇÃO MENSAL.
        </span>
      </div>

      <div class="help-categoria">
        <span class="categoria categoria-badge" [style.backgroundColor]="CategoriasIcons.fazer_pelo_outro.color">
          <i class="material-icons">{{ CategoriasIcons.fazer_pelo_outro.icon }}</i>
        </span>
        <span>
          <h2>Fazer pelo outro</h2>
          Exercitar a gratidão e o compartilhar!<br />
          Cientificamente, quem exercita a gratidão tem uma atividade cerebral acima da média. Além disso, pesquisadores
          da Universidade de Indiana, nos EUA, afirmam que quem exercita a gratidão diminui consideravelmente a chance
          de
          desenvolver quadros de depressão.
        </span>
      </div>

      <div class="help-categoria">
        <span class="categoria categoria-badge" [style.backgroundColor]="CategoriasIcons.diversao.color">
          <i class="material-icons">{{ CategoriasIcons.diversao.icon }}</i>
        </span>
        <span>
          <h2>Diversão</h2>
          Se divertir também faz parte da vida, afinal!<br /> Uma boa celebração é fundamental para alimentarmos aquele
          sorriso no rosto e viver com mais leveza.
        </span>
      </div>

      <div class="help-categoria">
        <span class="categoria categoria-badge" [style.backgroundColor]="CategoriasIcons.compras_longo_prazo.color">
          <i class="material-icons">{{ CategoriasIcons.compras_longo_prazo.icon }}</i>
        </span>
        <span>
          <h2>Compras de longo prazo</h2>
          Compras de Longo Prazo são aquelas que exigem planejamento.<br />Troca de carro, compra de um imóvel, uma
          grande
          viagem. Aqui entram estes tipos de gastos que exigem um comprometimento considerável de nossas finanças.
        </span>
      </div>

      <div class="help-categoria">
        <span class="categoria categoria-badge" [style.backgroundColor]="CategoriasIcons.desenvolvimento_pessoal.color">
          <i class="material-icons">{{ CategoriasIcons.desenvolvimento_pessoal.icon }}</i>
        </span>
        <span>
          <h2>Desenvolvimento Pessoal</h2>
          “Corpo são, mente sã”<br />Academia, livros, cursos, MBA, pós-graduação. O propósito de todos estes gastos é
          seu Desenvolvimento Pessoal. Reservar uma parte de seu orçamento para destinar a este intuito não é apenas
          justo,
          como aconselhável.
        </span>
      </div>
    </div>
  </mz-tab-item>

  <mz-tab-item [label]="'Transações'" class="" href="#transacoes">
    <div class="mtop10 content-padding" id="transacoes">
      <p>Clique no ícone <i class="material-icons">assignment</i> no canto superior direito ou no menu lateral para
        acessar a lista com as suas transações.</p>
      <p>Suas transações do mês atual estão listadas de forma ordenada e agrupada por data.</p>
      <p>Para cada transação, você vai ver facilmente a categoria, a descrição e o valor da mesma (o valor fica em verde
        para receitas e em vermelho para despesas).</p>

      <h2>Navegação e filtros</h2>
      <p>Na parte superior da lista de transações, você verá o mês e ano selecionados (por padrão, será selecionado o
        mês e ano atuais).
        Para navegar para o próximo mês, clique em <i class="material-icons">navigate_next</i>. Para nevagar para o mês
        anterior, clique em <i class="material-icons">navigate_before</i>.</p>
      <img src="./../../assets/img/help/help_transacao_1.png">
      <p>Clicando sobre o mês e ano selecionados, é possível escolher de uma forma mais simples (através de um popup) o
        mês e ano desejados (sem navegar um a um).</p>
      <img src="./../../assets/img/help/help_transacao_2.png">

      <h2>Receitas</h2>
      <p>Cadastre suas receitas incluindo o valor, data de recebimento, forma de recebimento, descrição e inclua
        observações se desejar.</p>
      <p>Caso a forma de pagamento seja <b>parcelada</b>, uma nova opção vai aparecer para que você indique o número de
        parcelas para repetição do valor indicado.</p>
      <p>No caso do parcelamento, serão criadas cópias da transação atual nos meses seguintes (até completar o número de
        parcelas indicado).</p>

      <h2>Despesas</h2>
      <p>Cadastre suas despesas incluindo o valor, data de recebimento, forma de pagamento, categoria, descrição e
        inclua obseravações se desejar.</p>
      <p>Caso a forma de pagamento seja <b>parcelada</b>, uma nova opção vai aparecer para que você indique o número de
        parcelas para repetição do valor indicado.</p>
      <p>No caso do parcelamento, serão criadas cópias da transação atual nos meses seguintes (até completar o número de
        parcelas indicado).</p>
    </div>
  </mz-tab-item>

  <mz-tab-item [label]="'Gráficos'" class="" href="#graficos">
    <div class="mtop10 content-padding" id="graficos">
      Explicar sobre os gráficos
    </div>
  </mz-tab-item>

  <mz-tab-item [label]="'Saldos mensais'" href="#saldos" class="">
    <div class="mtop10 content-padding" id="saldos">
      Explicar sobre os saldos mensais
    </div>
  </mz-tab-item>

</mz-tab>
