@import "src/assets/sass/helpers/vars";

.seletor-area {
  display: flex;
  flex-direction: row;
  padding: 10px 0;

  .seletor {
    font-weight: 700;
    font-size: 1.2em;
    width: 75%;
    text-align: center;
    line-height: 2.5em;
  }

  a {
    font-size: 2em;

    &:hover {
      cursor: pointer;
    }
  }

  justify-content: space-around;
}

@media (max-width: 992px) {
  .resumo {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #eaeaea;
  }
}

.transacao.details {
  .descricao-title {
    display: block;
    margin-bottom: 5px;
  }

  .item-transacao {
    &:hover {
      cursor: inherit;
    }
  }

  .categoria {
    height: 60px;
    width: 60px;
    display: block;
    text-align: center;
    line-height: 60px;

    i {
      font-size: 1.7em;
    }
  }

  .data {
    margin-bottom: 15px;
  }

  .valor {
    font-size: 2em;
  }

  .item-transacao {
    display: block;

    &:hover {
      background-color: transparent;
    }
  }

  .despesa {
    .descricao-title {
      color: $red;
    }
  }

  .receita {
    .descricao-title {
      color: $green;
    }
  }

  .buttons {
    display: block;
    margin-top: 25px;
    text-align: right;

    a {
      text-transform: uppercase;
      margin-left: 10px;
      padding: 10px;
      transition: background-color .5s;
      display: inline-flex;
      align-items: center;

      i {
        margin-right: 5px;
        font-size: 1.3em;
      }

      &.edit {
        color: $primary-color-light;
      }

      &.remove {
        color: $secondary-color-dark;
      }

      &:hover {
        cursor: pointer;
        background-color: #ddd;
      }
    }
  }

}

.despesa {
  .check.efetivada {
    color: $red;
    border: 2px solid $red;
  }
}

.receita {
  .check.efetivada {
    color: $green;
    border: 2px solid $green;
  }
}

.check {
  font-size: 2.2em;
  color: #ccc;
  padding: 2px;
  border: 2px solid #ccc;
  border-radius: 50%;
}

.transacao.collection-item {
  .check {
    font-size: 16px;
    margin-left: 10px;
  }
}

.item-transacao {
  justify-content: space-between;
}

