<app-add-button></app-add-button>

<ngx-smart-modal #myModal identifier="myModal" target="a#month-selector">
  <monthpicker (change)="onMonthChange($event)"></monthpicker>
</ngx-smart-modal>

<ngx-smart-modal #modalDetails identifier="modalDetails">
  <div *ngIf="modalDetails.hasData()" class="transacao details">
    <div
      [ngClass]="{'despesa': modalDetails.getData().transacao.valor < 0, 'receita': modalDetails.getData().transacao.valor > 0}"
      class="item-transacao">

      <div style="display: flex; justify-content: space-between">
        <div>
          <h2 class="descricao-title">{{ modalDetails.getData().transacao.descricao }}</h2>
          <span class="data">{{ modalDetails.getData().transacao.data | date:'dd/MM/yyyy' }}</span>
        </div>
        <div style="display: flex;flex-direction: column; justify-content: space-around;" mz-tooltip
          [tooltip]="getTransacaoEfetivada(modalDetails.getData().transacao) ? 'Efetivada' : 'Pendente'">
          <i class="material-icons check"
            [ngClass]="{ 'efetivada': getTransacaoEfetivada(modalDetails.getData().transacao) }">
            {{ getTransacaoEfetivada(modalDetails.getData().transacao) ? 'done' : 'priority_high' }}
          </i>
        </div>
      </div>

      <div style="display: flex; justify-content: space-between;">
        <span class="categoria" mz-tooltip
          [style.backgroundColor]="getCategoriaColor(modalDetails.getData().transacao.categoria)"
          [tooltip]="getCategoriaName(modalDetails.getData().transacao.categoria)">
          <i class="material-icons">{{ getCategoriaIcon(modalDetails.getData().transacao.categoria) }}</i>
        </span>
        <span>
          <span class="valor">{{ getValorAbs(modalDetails.getData().transacao.valor) | currency:'BRL':'symbol' }}</span>
          <span class="data">{{ getFormaPagamento(modalDetails.getData().transacao) }}</span>
        </span>

      </div>
      <div style="border-top: 1px solid #ccc;margin-top: 15px; padding-top: 5px;"
        *ngIf="modalDetails.getData().transacao.obs">
        <p class="data">Observações</p>
        <span>{{ modalDetails.getData().transacao.obs }}</span>
      </div>

      <div class="buttons">
        <a (click)="editarTransacao(modalDetails.getData().transacao.id)" class="edit">
          <i class="material-icons">
            control_point_duplicate</i> Duplicar
        </a>
        <a (click)="editarTransacao(modalDetails.getData().transacao.id)" class="edit">
          <i class="material-icons">edit</i> Editar
        </a>
        <swal #deleteSwal title='Excluir transação "{{ modalDetails.getData().transacao.descricao }}"?'
          text="Essa ação não pode ser desfeita" type="warning" [showCancelButton]="true" [focusCancel]="true"
          cancelButtonText='Não' confirmButtonText='Sim'
          (confirm)="confirmaExcluirTransacao(modalDetails.getData().transacao.id)"></swal>
        <a class="remove" [swal]="deleteSwal">
          <i class="material-icons">delete</i> Excluir
        </a>


      </div>
    </div>
  </div>
</ngx-smart-modal>

<div class="seletor-area">

  <a (click)="transacaoService.previousMonth()">
    <i class="material-icons">navigate_before</i>
  </a>

  <a class="seletor" id="month-selector" (click)="ngxSmartModalService.getModal('myModal').open()">
    <span *ngIf="!selectMonth">
      {{ meses[transacaoService.mesCorrente] }}
    </span>
    de
    <span *ngIf="!selectMonth">
      {{ transacaoService.anoCorrente }}
    </span>
  </a>

  <a (click)="transacaoService.nextMonth()">
    <i class="material-icons">navigate_next</i>
  </a>

</div>

<ng-template #noitems>
  <div class="no-itens">
    <span>Não há transações nesse mês.<br>Clique no + abaixo para começar.</span>
  </div>
</ng-template>
<mz-collection *ngIf="getDates().length > 0; else noitems">
  <mz-collection-item class="transacao" *ngFor="let date of getDates()">

    <span class="data">{{ getDateString(datesGrouped[date].data) }}</span>

    <div *ngFor='let transacao of datesGrouped[date].transacoes' class="item-transacao"
      (click)="showTransacaoDetails(transacao)"
      [ngClass]="{'despesa': transacao.valor < 0, 'receita': transacao.valor > 0, 'today': isToday(transacao.data)}">

      <div style="display: flex;align-items: center;">
        <span class="categoria" mz-tooltip [style.backgroundColor]="getCategoriaColor(transacao.categoria)"
          [tooltip]="getCategoriaName(transacao.categoria)">
          <i class="material-icons">{{ getCategoriaIcon(transacao.categoria) }}</i>
        </span>
        <span class="descricao">{{ transacao.descricao }}</span>
      </div>
      <div style="display: flex;flex-wrap: nowrap;align-items: center;">
        <span class="valor">{{ getValorAbs(transacao) | currency:'BRL':'symbol' }}</span>
        <i class="material-icons check" [ngClass]="{ 'efetivada': getTransacaoEfetivada(transacao) }">
          {{ getTransacaoEfetivada(transacao) ? 'done' : 'priority_high' }}
        </i>
      </div>
    </div>
    <div class="item-transacao" style="text-align: right;text-align: right;display: block;">
      <span style="font-weight: 700">Saldo do dia: </span>
      <span>{{datesGrouped[date].saldo  | currency:'BRL':'symbol' }}</span>
    </div>

  </mz-collection-item>

  <mz-collection-item class="hide-on-med-and-up show-on-small" style="height: 125px; border:none;"></mz-collection-item>

  <mz-collection-item class="transacao resumo">
    <div class="row" style="margin-bottom: 0;">
      <i class="material-icons col s1 color-green">add_circle</i>
      <div class="col s4 color-green">Entradas</div>
      <div class="col s5 m6 l7 color-green" style="text-align:right;">{{ somaEntradas | currency:'BRL':'symbol' }}</div>
    </div>
    <div class="row" style="margin-bottom: 0;">
      <i class="material-icons col s1 color-red">remove_circle</i>
      <div class="col s4 color-red">Saídas</div>
      <div class="col s5 m6 l7 color-red" style="text-align:right;">{{ somaSaidas | currency:'BRL':'symbol' }}</div>
    </div>
    <div class="row" style="margin-bottom: 0;">
      <i class="material-icons col s1 color-red"></i>
      <div class="col s4">Total do mês</div>
      <div class="col s5 m6 l7" style="text-align:right;">
        <strong>{{ somaEntradas + somaSaidas | currency:'BRL':'symbol' }}</strong></div>
    </div>
  </mz-collection-item>

</mz-collection>
