<div class="user-info">
  <img src="{{auth.loggedUser.photoURL}}" alt="" class="circle responsive-img profile-img">
  <div class="info">
    <span class="name">{{auth.loggedUser.displayName }}</span>
    <span class="email">{{auth.loggedUser.email }}</span>
    <span class="provider">{{ 'Provedor de autenticação: ' + auth.loggedUser.providerData[0]?.providerId }}</span>
  </div>
</div>

<mz-tab [fixedTabWidth]="'true'">

  <mz-tab-item [label]="'Geral'" class="" href="#geral" [active]="'true'">
  </mz-tab-item>

  <mz-tab-item [label]="'Dashboard'" class="" href="#dashboard" [active]="'true'">
  </mz-tab-item>

  <mz-tab-item [label]="'Categorias'" class="" href="#categorias" [active]="'true'">
  </mz-tab-item>

</mz-tab>
