.user-info {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    flex-grow: 1;
  }

  img {
    margin-right: 20px;
    margin: 0 auto;
  }

  .name {
    font-size: 2em;
    font-weight: 700;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    display: block;
    margin: 15px 0;
    line-height: 1em;
  }

  .email,
  .provider {
    display: block;
  }
}
